import 'package:flutter/material.dart';
import 'package:widget_maker_2_0/properties/enum_properties.dart';
import 'package:widget_maker_2_0/properties/basic_properties.dart';
import 'package:code_builder/code_builder.dart';
import 'package:widget_maker_2_0/code_builder.dart';
import 'enums.dart';
import 'package:widget_maker_2_0/properties/wrappers/wrappers.dart';

/// All the enum properties
/// GENERATED DO NOT TOUCH

{{#objectProps}}
{{code}}
{{/objectProps}}